body {
    background-color:whitesmoke;
}
.button-design {
    box-shadow: 10px 10px 30px grey;
    border-radius: 20px;
}



<p>BOOSTRAP</p>
                                <div class="progress-bar bg-dark" style="width:90%"></div>
                                <p>DRAWING</p>
                                <div class="progress-bar bg-dark" style="width:70%"></div>